<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
    layout:decorate="~{fragments/layout}">


<!-- -------------------------- INICIO DO CORPO DA ESTRUTURA ---------------------------- -->
<form layout:fragment="corpo" >
    <main id="main" class="main">

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-12">
                    <div class="row" >

                        <!-- Recent Sales -->
                        <div class="col-12" >
                            <div class="card recent-sales overflow-auto" style="background: #E0FFFF;">

                                <div class="card-body" style="margin: auto">
                                    <h1 style="margin-top: 8%;" >TPE - São Luís/MA</h1>
                                    <img src="../assets/image/testemunho.png" />
                                </div>


                            </div>
                        </div><!-- End Recent Sales -->
                    </div>
                </div><!-- End Left side columns -->
            </div>
        </section>

    </main><!-- End #main -->
</form>
<!-- ------------------------------ FIM DO CORPO DA ESTRUTURA ------------------------------- -->